[HOST_PORT]

# Set Host and Port where Tor is
# listening for control-connections
control_host = 127.0.0.1
control_port = 9051

# TODO: Set control_password here?

[CIRC_MANAGEMENT]

# Size of the maintained pool of circuits
idle_circuits = 3

# TODO: Configure ports to use

[NODE_SELECTION]

# Number of hops to be used in paths and
# a minimum-value for advertised bandwidth
pathlen = 3
min_bw = 1024

# Percentiles
percent_fast = 100
percent_skip = 0
use_all_exits = yes

# UniformGenerator with optionally ordered exits,
# (uniform = no) means bandwidth-weighted selection
uniform = no
order_exits = no

# Make use of guard-nodes (yes|no) or a specific 
# exit node (nickname or IDHex)
use_guards = yes
#use_exit = xy

[GEOIP]

# Use GeoIP
# yes|no
use_geoip = yes

# yes|no for unique|distinct countries,
# ! comment to don't care
#unique_countries = yes

# If echelon is set, OP-Addon will try to find an 
# exit in the destination country of the current 
# request (exit_country may be used as backup)
# yes|no
# TODO: echelon = yes

# Set country codes for single positions
#entry_country = DE
#middle_country = RU
#exit_country = US

# Maximum number of continent-crossings: 0-n
# ! comment out to enforce distinct continents
# ! set >= pathlen to not care about
continent_crossings = 2
# Maximum number of ocean crossings: 0-n
# ! comment out to don't care
ocean_crossings = 0

# TODO: excludes = [".."]

[TESTING]

# Testing mode: Close every circuit after testing
# yes|no
testing_mode = no

# Number of latency-tests per circuit (int: 0-n)
num_rtt_tests = 5

# Amount of circuits to test (int)
num_records = 300

[RTT]

# Measure latencies of complete circuits
# yes|no
measure_circs = yes

# Tor socks-properties
socks_host = 127.0.0.1
socks_port = 9050

# Host and port dummies to be used 
# for ping-connections
ping_dummy_host = 127.0.0.1
ping_dummy_port = 100

# Time interval to wait before triggering
# pings and frequency in seconds (float)
initial_interval = 10
frequency = 2

# Close circ after n timeouts on measurings
# Set to 0 to not close circs (int)
timeout_limit = 1

[MODEL]

# Set to True if you want to measure latencies of single
# links and enable circuit creation from the model
# yes|no
network_model = no

# RTT-threshhold when creating circuits (float):
#   0:  no threshhold
max_rtt = 1

# Minimum number of proposals to choose from (int)
min_proposals = 100

# Min ratio of circs created with the backup-method,
# controls growing of the model (float in [0,1])
#   0:  no growing
#   1:  growing only
min_ratio = 0.5
