local.cfg
bwscan.V3BandwidthsFile

data/bwscan*
data/aggregate-control.log
data/aggregate-debug.log

data/tor*/cached-certs
data/tor*/cached-consensus
data/tor*/cached-descriptors
data/tor*/cached-descriptors.new
data/tor*/control_auth_cookie
data/tor*/lock
data/tor*/state
data/tor*/tor.log
data/tor*/tor.pid

data/scanner.*/bw.log
data/scanner.*/bwauthority.pid