--no-use-wheel --no-index

# This is pip/peep requirements.txt file specifying the pinned Python
# dependencies for running a Bandwidth Authority.
#
# To use this file, first ensure that you've got a *recent* version
# of pip.  If you already have pip, do:
#
#     $ pip install --upgrade pip
#
# Next, if you'd like to verify the correctness of the downloaded dependencies
# with SHA-256 (rather than MD5, which is pip's default), do:
#
#     $ pip install peep
#
# Finally, to use this file, do:
#
#     $ peep install -r requirements.txt
#
# (Or, if you didn't install peep, do `$ pip install -r requirements.txt`.)

# sha256: _pw1IWv1bIWLNMS0yL5-NFZt3vKWcOWltD-cuOz7so0
pysqlite==2.6.3

# sha256: d6o51lydBD66a6Mps1n_hnQk_WxAO3wMsRK2XlB-HWY
SQLAlchemy==0.7.10

# sha256: p-9DfyW1ROT3T7Mjb8Q80l9db-tgN918ZpMQRtdUOek
Elixir==0.7.1
